.show {
 animation: displaying 1s;
}

@keyframes displaying {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

button:hover {
  cursor: url('/cursor.png'), auto;
}

.rt-HoverCardTrigger:hover {
  cursor: url('/cursor.png'), auto;
}

a:hover {
  cursor: url('/cursor.png'), auto;
}